// app global css in SCSS form

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-bg {
  background-image: url("src/assets/bgImg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-outer {
  background-color: #026a37;
}

.my-font {
  font-family: "Poppins", sans-serif;
}

.body {
  font-family: "Poppins", sans-serif;
}

.circle-pin {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f78da7;
  position: absolute;
  transform: rotate(0deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

/* // to draw white circle */
.circle-pin::after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 3px 0 0 3px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}

/* // to align icon */
.custom-div-icon-circle i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

// to draw white circle
.marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

// to align icon
.custom-div-icon span {
  position: absolute;
  width: 24px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 6px auto;
  text-align: center;
}

.marker-pin-selected {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

// to draw white circle
.marker-pin-selected::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #c50101;
  position: absolute;
  border-radius: 50%;
}

// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

// to draw white circle
.marker-pin-select::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #5f0101;
  position: absolute;
  border-radius: 50%;
}

.page-body-md {
  // min-width: 50vw;
  // min-height: 60vh;
  border-radius: 20px;

  @media (min-width: $breakpoint-md-min) {
    // font-size: 39px;
  }

  @media (max-width: $breakpoint-md-max) {
    // font-size: 27px;
    display: none;
    min-width: 96%;
    border-radius: 10px;
  }
}

.filters-column {
  flex: 1;
  max-width: 35%;
  @media (max-width: $breakpoint-lg-min) {
    min-width: 30%;
  }
  @media (max-width: $breakpoint-sm-max) {
    // position: absolute;
    // z-index: 1000;
    // background-color: #fff;
    // min-width: 50%;
    display: none;
  }
}

.toggle-side {
  @media (max-width: $breakpoint-sm-max) {
    position: absolute;
    right: -5%;
    top: 40%;
    z-index: 1000;
  }
}

.toggle-side-open {
  @media (min-width: $breakpoint-sm-max) {
    display: none;
  }
  @media (max-width: $breakpoint-sm-max) {
    position: absolute;
    left: 1%;
    top: 15%;
    z-index: 1000;
  }
}

.dash-row-top {
  width: 100%;
  height: 8%;

  @media (max-width: $breakpoint-sm-max) {
    display: none;
  }
}

.dash-column {
  max-width: 65%;
  flex: 1;
  border-radius: 2px;
  border-color: grey;
  padding-right: 24px;

  @media (max-width: $breakpoint-lg-min) {
    min-width: 70%;
    padding-right: 8px;
  }
  @media (max-width: $breakpoint-sm-max) {
    min-width: 100%;
  }
}

.table-content {
  @media (max-width: $breakpoint-lg-min) {
    font-size: smaller;
  }
}

.table-head {
  font-weight: 700;

  @media (max-width: $breakpoint-lg-min) {
    font-size: smaller;
  }
}

.main-header {
  padding-top: 12px;
  padding-bottom: 12px;
  @media (max-width: $breakpoint-lg-min) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.toolbar-img {
  width: 20%;

  @media (max-width: $breakpoint-lg-min) {
    width: 25%;
  }
}

.pirs-map {
  width: 100%;
  height: 47%;

  @media (max-width: $breakpoint-lg-min) {
    height: 42%;
  }

  @media (max-width: $breakpoint-sm-max) {
    min-width: 100%;
    height: 55%;
  }
}

.full-map {
  width: 100%;
  height: 79%;

  @media (max-width: $breakpoint-sm-max) {
    min-width: 100%;
    height: 100%;
  }
}

.pirs-table-tab {
  width: 100%;
  height: 34%;
  overflow: hidden;

  @media (max-width: $breakpoint-lg-min) {
    height: 45%;
  }

  @media (max-width: $breakpoint-sm-max) {
    position: absolute;
    bottom: 0;
    min-width: 100%;
  }
}

.filters-lg {
  @media (max-width: $breakpoint-lg-min) {
    display: none;
  }
}

.filters-md {
  @media screen and (min-width: 1441px) {
    display: none;
  }
}

.tag-line {
  @media (max-width: $breakpoint-lg-min) {
    line-height: 1em;
  }
}

.head-tag {
  position: relative;
  width: 90%;
  line-height: 1.2em;
  margin-top: 10%;
  font-size: 96px;

  @media (max-width: $breakpoint-lg-min) {
    line-height: 1.2em;
    font-size: 72px;
  }
}

.legend-rect {
  width: 70px;
  height: 200px;
  position: absolute;
  z-index: 800;
  left: 2%;
  bottom: 2%;

  @media (max-width: $breakpoint-lg-min) {
    max-height: 150px;
  }
}

.gradient-rect {
  width: 15px;
  height: 200px;
  background: linear-gradient(to top, #c9e4ca, #364958);
  position: absolute;
  z-index: 800;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;

  @media (max-width: $breakpoint-lg-min) {
    max-height: 150px;
  }
}

.rank-card {
  @media (max-width: $breakpoint-lg-min) {
    font-size: small;
  }
}

.dash-desktop {
  @media (max-width: $breakpoint-sm-max) {
    // display: none;
  }
}
