// app global css in SCSS form

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-bg {
  background-image: url("src/assets/bgImg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-outer {
  background-color: #026a37;
}

.my-font {
  font-family: "Poppins", sans-serif;
}

.body {
  font-family: "Poppins", sans-serif;
}

.circle-pin {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f78da7;
  position: absolute;
  transform: rotate(0deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

/* // to draw white circle */
.circle-pin::after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 3px 0 0 3px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}

/* // to align icon */
.custom-div-icon-circle i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

// to draw white circle
.marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

// to align icon
.custom-div-icon span {
  position: absolute;
  width: 24px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 6px auto;
  text-align: center;
}

.marker-pin-selected {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

// to draw white circle
.marker-pin-selected::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #c50101;
  position: absolute;
  border-radius: 50%;
}

// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 12px auto;
  text-align: center;
}

// to draw white circle
.marker-pin-select::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #5f0101;
  position: absolute;
  border-radius: 50%;
}
